PORT=
NODE_ENV=

# SECRETS
SESSION_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ENCRYPTION_KEY=

ACCESS_TOKEN_EXPIRATION=10m
REFRESH_TOKEN_EXPIRATION=1d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# DATA BASE - REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_URL=

# DATA BASE - POSTGRES
DATABASE_URL=
DATA_BASE_PASSWORD=

ALLOWED_ORIGINS=
FRONTEND_BASE_URL=

# PAYPAL
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_BASE_URL=

BASE_URL=
COOKIE_DOMAIN=
IPINFO_TOKEN=
